<div class="ui menu vertical fluid">
  <div class="item">
    <span>报表管理</span>
    <div class="menu">
      <%= link_to '报表', data_lists_path, class: active_controller('data_lists') %>
    </div>
  </div>
</div>