<div class="ui modal">
  <i class="close icon"></i>
  <div class="ui header blue">
    预览
  </div>

  <div class="content">
    <div class="ui basic segment">
      <%= link_to 'download Xlsx', data_list_record_list_path(@data_list, @record_list, format: 'xlsx'), class: 'ui mini blue button' %>
      <%= link_to 'Edit', columns_data_list_record_list_path(@data_list, @record_list), class: 'ui green label', target: '_blank' %>
    </div>
    <%= render 'table' %>
  </div>

</div>