<table class="ui celled red bottom attached fixed table">

  <tbody>
  <% @record_list.columns.each do |key, value| %>
    <tr>
      <td><%= key %></td>
      <td><%= value %></td>
    </tr>
  <% end %>
  </tbody>

</table>
