<div class="fixed-grid has-6-cols">
  <div class="grid">
    <%= link_to({ controller: 'templates' }, class: 'cell button has-column-centered') do %>
      <p><%= t('.templates.index.title') %></p>
    <% end %>
  </div>
</div>