<div class="three wide column">
  <%= render 'admin/base/nav_users' %>
</div>

<div class="thirteen wide column">

  <div class="ui breadcrumb">
    <%= link_to 'Back', data_list_table_lists_path(@data_list), class: 'section' %>
    <div class="divider"> / </div>
    <div class="active section">New</div>
  </div>

  <div class="ui segment">
    <%= render 'form' %>
  </div>

</div>