<div class="tabs">
  <ul>
    <li class="">Data List</li>
    <li class="<%= active_helper(type: 'Datum::DataExport', active: 'is-active') %>"><%= link_to 'Export', filter_params(type: 'Datum::DataExport') %></li>
    <li class="<%= active_helper(type: 'Datum::DataImport', active: 'is-active') %>"><%= link_to 'Import', filter_params(type: 'Datum::DataImport') %></li>
  </ul>
</div>
