<div class="ui fluid vertical menu">
  <div class="item">
    <span>Report Management</span>
    <div class="menu">
      <%= link_to 'Report', data_lists_path, class: active_helper(controller: 'data_lists') %>
      <%= link_to 'Record', data_records_path, class: active_helper(controller: 'data_records') %>
    </div>
  </div>
</div>