<section>

<ul class="breadcrumb">
  <li><%= link_to 'back', :back %></li>
</ul>

<div class="page-header">
  <h1>Table lists</h1>
    <%= link_to 'download', combine_path(@combine, format: 'pdf') %>
    <%= link_to 'preview', table_lists_combine_path(@combine) %>
</div>

</section>

