<div class="tabs">
  <ul>
    <li class="is-active">Data List</li>
    <li><%= link_to 'Record', { controller: 'data_records' }, class: active_helper(controllers: 'data_records') %></li>
  </ul>
</div>

