<div class="ui segment"></div>

<div class="ui segment">
  <ul class="ui breadcrumb">
    <li class="section"><%= link_to 'back', :back %></li>
  </ul>
</div>

<div class="ui segment">
  <div class="page-header">
    <h1>Table lists</h1>
    <%= link_to 'download', report_list_path(@report_list, format: 'pdf') %>
    <%= link_to 'preview', report_list_table_lists_path(@report_list) %>
  </div>
</div>


