<li><%= link_to t('.data_lists.index.title'), { controller: 'data_lists' } %></li>
<li><%= link_to t('.table_lists.index.title'), data_list_table_lists_path(@data_list) %></li>
<li class="is-active"><%= @table_list.headers.join(',') %></li>
