<div class="ui segment breadcrumb">
  <%= link_to 'Data List', data_lists_path, class: 'section' %>
  <div class="divider">/</div>
  <%= link_to 'Table List', data_list_table_lists_path(@data_list), class: 'section' %>
</div>

<%= render partial: 'table', locals: { remote: false } %>
