<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('datum.admin.data_lists.index.title'), data_lists_path(type: @data_list.type) %></li>
    <li><div class="is-active"><%= t('.title') %></div></li>
  </ul>
</div>
