<% if @data_list.type == 'Datum::DataImport' %>
  <%= link_to 'Import', { action: 'new_import' }, data: { turbo_frame: 'modal' }, class: 'button is-primary' %>
<% else %>
  <%= link_to({ action: 'new'}, data: { turbo_frame: 'modal' }, class: 'button is-link') do %>
    <i class="fas fa-plus"></i><span><%= t('.new') %></span>
  <% end %>
<% end %>
