<li><%= link_to t('.templates.index.title'), { controller: 'templates' } %></li>
<li><%= link_to t('.exports.index.title'), { controller: 'exports' } %></li>
<li class="is-active"><%= t('.title') %></li>
