<div class="ui modal">
  <i class="close icon"></i>
  <div class="ui header">
    预览
  </div>

  <div class="content">
    <div class="ui basic segment">
      <%= link_to 'download Xlsx', data_record_record_list_path(@data_record, @record_list, format: 'xlsx'), class: 'ui mini blue button' %>
      <%= link_to 'Edit', columns_data_record_record_list_path(@data_record, @record_list), class: 'ui green label', remote: true %>
    </div>
    <%= render 'edit_table' %>
  </div>

</div>




