<table class="ui very basic striped table">

  <tbody>
  <% @record_list.columns.each do |key, value| %>
    <tr>
      <td class="text-right"><%= key %></td>
      <td><%= value %></td>
    </tr>
  <% end %>
  </tbody>

</table>
